body {
    background-color: violet;
}

#text-align {
    text-align: center;
}

.inputs-style {
    text-align: justify;
    width: 70%;
}

.box {
    margin-left: 30%;
    margin-right: 20%;
    padding: 25px;
    border: 1px solid black;
}
